.feedback {
  min-height: 470px;
  padding: 50px 0 60px 0;

  &__iner {
    margin-top: 40px;
    width: 600px;
    height: 250px;
    &-slider {
      display: flex;
      // align-items: center;
      // justify-content: center;
      width: 1140px;
      height: 250px;
      position: relative;
    }
    &-carusel {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin: 0 auto;
      img {
        display: block;
        margin: 0 auto;
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 700;
    }

    &-text {
      color: #3a3a3a;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
    }
  }
}
